﻿@model System.Web.Mvc.HandleErrorInfo

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Clockwork Speedway</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        <h1>Error 400 - Bad Request</h1>
        <p>The server cannot process the request.</p>
    </div>
</body>
</html>
