﻿@model System.Web.Mvc.HandleErrorInfo 

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Clockwork Speedway</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
     <div>
        <h1>Error 500 - Internal Server Error</h1>
    </div>
</body>
</html>
