﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Clockwork Speedway</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CLOCKWORK SPEEDWAY", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                @if (Request.IsAuthenticated)
                {
                    <li class="dropdown active">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Manage data
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("People", "Index", "People")</li>
                            <li>@Html.ActionLink("Events", "Index", "Events")</li>
                            <li>@Html.ActionLink("Roles", "Index", "Roles")</li>
                            <li>@Html.ActionLink("Teams", "Index", "Teams")</li>
                            <li>@Html.ActionLink("Activities", "Index", "Activities")</li>
                            <li>@Html.ActionLink("Time sheets", "Index", "TimeSheets")</li> 
                            <li>@Html.ActionLink("Reports", "Index", "Report")</li>
                      </ul>
                    </li>
                }
                else
                {
                    <li>@Html.ActionLink("Events", "Index", "Events")</li>
                }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Clockwork Speedway</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
