﻿@using EventTracker.Models;
@model Tuple<List<Event>, List<Activity>, List<Event>, List<Activity>>

@{
    ViewBag.Title = "Clockwork Speedway - Home";
}


<div class="row">
    <div class="col-md-6">
        <h2>Active events</h2>
        <ul class="list-group">
            @foreach (var item in Model.Item1)
            {
                <li class="list-group-item">@item.EventName</li>
            }        
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Active activities</h2>
        <ul class="list-group">
            @foreach (var item in Model.Item2)
            {
                <li class="list-group-item">@item.ActivityName - @item.Event.EventName</li>
            }
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Upcoming events</h2>
        <ul class="list-group">
            @foreach (var item in Model.Item3)
            {
                <li class="list-group-item">@item.EventName</li>
            }
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Upcoming activities</h2>
        <ul class="list-group">
            @foreach (var item in Model.Item4)
            {
                <li class="list-group-item">@item.ActivityName - @item.Event.EventName</li>
            }
        </ul>
    </div>
</div>