﻿@model IEnumerable<EventTracker.DTO.HighestWorkRateDTO>

@{
    ViewBag.Title = "Top 5 highest work rate";
}

@section Scripts {
    @Scripts.Render("/Scripts/Highest.js")
}


<h2>Top 5 highest work rate</h2>

<p>
    @Html.Label("Filter by:") @Html.DropDownList("strFilter", null, "Select a filter", htmlAttributes: new { @class = "form-control" })
</p>
<div id="list"> 
</div>