﻿@model IEnumerable<EventTracker.DTO.HighestWorkRateDTO>
<table class="table">
    
    <tr>
        <th>
            @Html.DisplayName("Person")
        </th>
        <th>
            @Html.DisplayName("Hours")
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalHours)
            </td>
        </tr>
    }
</table>

